.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.header h1{
    font-size: 20px;
}
.header-scroll{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    
}

.header-scroll h1{
    padding: 5px 10px 5px 10px;
}


.header-not-scroll{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.header-not-scroll h1{
    padding: 5px 10px 5px 10px;
}

.courses, button{
    background-color: orangered;
    color: aliceblue;
    border-radius: 20px;
}

button{
    border-width: 0;
    padding: 10px;
    font-weight: bold;
}

.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}


.main-heading{
    display: flex;
    flex-direction: column;

}

span{
    font-weight: lighter;
}


